.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name ME
    %h3= t('hello')
    %p= t('auth')
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name),
      html: {class: 'm-t'}) do |f|
      = f.error_notification

      = f.input :email, required: false, autofocus: true, label: false,
        input_html: {placeholder: 'Email'}
      = f.input :password, required: false, label: false,
        input_html: {placeholder: 'Parola'}
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      %button.btn.btn-primary.block.full-width.m-b{:type => "submit"}= 'Log in'
