!!!
%html
  %head
    %title= 'Liceu'
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.md-skin.fixed-sidebar.fixed-nav
    -# Wrapper
    #wrapper
      -# Navigation
      = render 'layouts/navigation'

      #page-wrapper.gray-bg{class: @extra_class}
        -# Page wrapper
        = render 'layouts/topnav'
        = yield
        -# Footer
        = render 'layouts/footer'
  = yield :javascript
